<?php

/**
 * Define the common thank you page.
 * The common thank-you page is used only when the form is submitted by a user with Javascript disabled. 
 * As this is rare and as Google Analytics can’t measure page views, any page in your website will do. 
 */

define('COMMON_THANK_YOU_PAGE', 'https://es.greenpeace.org/es/');


/**
 * USE GOOGLE BIG QUERY TO STORE DATA
 * Add the path to the Json credentials for the Google Cloud service account file.
 * Add project id, dataset name and table name
 * See also: https://cloud.google.com/bigquery/docs/reference/libraries
 * Comment the following lines to disable sending data to BigQuery
 */
 
// putenv('GOOGLE_APPLICATION_CREDENTIALS=/home/your-user/user-keys/your-service-account-file.json');
// define('BIGQUERY_PROJECT_ID', 'your-project-in-the-url');
// define('BIGQUERY_DATASET', 'gpes_en_old_api');
// define('BIGQUERY_TABLE', 'signups');

/**
 * USE SQLITE TO STORE DATA
 * Comment the following lines to disable sending data to SQLite
 */
 
// use Medoo\Medoo;
// $database = new Medoo([
//	'database_type' => 'sqlite',
//	'database_file' => '/home/your-user/db/gp_es_old_api.db'
// ]);

?>